body {
    background-color: #f4f7fc;
}

.register-container {
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    display: flex;
    height: 80vh;
}

.register-form {
    flex: 1;
    padding: 40px;
}

.register-form h1 {
    font-size: 2.5em;
    color: #ff7900;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff7900;
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #e66800;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link a {
    color: #ff7900;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.register-image {
    flex: 1;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.register-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
#sec{
    position: relative;
    top: 100px;
}